

{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}
  {{ $displaySidebar := false }}
  {{ range .Site.Params.mainSections }}
    {{ if eq $.Section . }}
      {{ $displaySidebar = true }}
    {{ end }}
  {{ end }}
  {{ if $displaySidebar }}page-default-list{{else}}page-home{{ end }}
{{ end }}
{{ define "header_classes" }}{{ end }}
{{ define "main" }}
  {{ $displaySidebar := false }}
  {{ range .Site.Params.mainSections }}
    {{ if eq $.Section . }}
      {{ $displaySidebar = true }}
    {{ end }}
  {{ end }}
  {{ if $displaySidebar }}
  <h1 class="title">{{ .Title }}</h1>
  <div class="content">
    {{ .Content }}
  </div>
  {{ else }}
  <div class="strip">
    <div class="container pt-1">
      <div class="row">
        <div class="col-12">
          <h1 class="title">{{ .Title }}</h1>
          <div class="content">
            {{ .Content }}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ end }}
  
  {{ range.Pages }}
  {{ if not .Params.Hidden }}
  {{ .Render "summary" }}
  {{ end }}
  {{ end }}

{{ end }}

