<div class="summary mb-2">
  {{ if .Params.image }}
  <a href="{{ .Permalink }}"><img alt="{{ .Title }}" src="{{ .Params.image }}" /></a>
  {{ end}}
  <h2 class="title-summary"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
  <p>{{ .Summary }}</p>
</div>
