{{$currentNode := .}}
<div class="docs-menu">
  <h4>{{ (site.GetPage .Section).Title   }}</h4>
  <ul>
    {{ range where .Site.RegularPages "Section" .Section }}
    {{ if not .Params.Hidden }}
    <li class="{{ if eq .File.UniqueID $currentNode.File.UniqueID }}active {{ end }}">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
    {{ end }}
  </ul>
</div>
